<footer class="footer">
  <div class="container footer__grid">
    <div>
      <h4>TheLuxMining</h4>
      <p>100 Greyrock Pl F119<br>Stamford, CT 06901</p>
    </div>
    <div>
      <h5>{{ 'footer.contact_title' | translate }}</h5>
      <p>
        <a href="mailto:support@theluxmining.com">support@theluxmining.com</a>
      </p>
    </div>
    <div>
      <h5>{{ 'footer.hardware_title' | translate }}</h5>
      <p>{{ 'footer.hardware_description' | translate }}</p>
    </div>
  </div>
  <div class="footer__bottom">
    <span>&copy; {{ year }} TheLuxMining. {{ 'footer.rights' | translate }}.</span>
  </div>
</footer>
