<footer class="footer">
  <div class="container footer__grid">
    <div>
      <h4>TheLuxMining</h4>
      <p>100 Greyrock Pl F119<br>Stamford, CT 06901</p>
    </div>
    <div>
      <h5>Contact</h5>
      <p>
        <a href="mailto:support@theluxmining.com">support@theluxmining.com</a>
      </p>
    </div>
    <div>
      <h5>Crypto Mining Hardware</h5>
      <p>Premium miners, cold storage solutions<br>& Bitcoin accessories</p>
    </div>
  </div>
  <div class="footer__bottom">
    <span>&copy; {{ year }} TheLuxMining. All rights reserved.</span>
  </div>
</footer>
