<footer class="footer">
  <div class="container footer__grid">
    <div>
      <h4>TheLuxMining</h4>
      <p>Poligono Industrial La Plana, nave 18<br>Castellon de la Plana, Espana</p>
    </div>
    <div>
      <h5>Contacto</h5>
      <p>
        +34 964 000 000<br>
        <a href="mailto:info@theluxmining.com">info@theluxmining.com</a>
      </p>
    </div>
    <div>
      <h5>Horario</h5>
      <p>Lunes a viernes 08:00 - 17:00<br>Sabados con cita previa</p>
    </div>
  </div>
  <div class="footer__bottom">
    <span>&copy; {{ year }} TheLuxMining. Todos los derechos reservados.</span>
  </div>
</footer>
